<h1>New Truck Repair</h1>
<h2>Truck Number: <%= @truck.truck_number %></h2>

<%= render 'form', truck_repair: @truck_repair %>

<%= link_to 'Back', truck_truck_repairs_path(@truck), data:{confirm: 'Are you sure? Any changes will not be saved!'} %>
