<h1>Welcome to Truck Management!</h1>
  <h2>Commissioned trucks and trucks being commissioned</h2>
  <%= link_to 'Index', trucks_path %>
  <h2>Decommissioned trucks and trucks being decommissioned</h2>
  <%= link_to 'Index',  controller: "trucks", action: "decomm" %>
