<h1>New Truck IT</h1>
<h2>Truck Number: <%= @truck.truck_number %></h2>

<%= render 'form', truck_it: @truck_it %>

<%= link_to 'Truck Index', trucks_path, data:{confirm: 'Are you sure? Any changes will not be saved!'} %>
